*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,p{
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}
.center {
    text-align: center;
    margin: 0 auto;
    width: 50%; 
  }
body::-webkit-scrollbar {
    display: none;
  } 
body {
    background-color: black;
}
a{ 
    text-decoration: none;
} 
header {
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: 100;
    background-color: white; 
    position: fixed;
    top:0; 
    width: 100%;
    /* height: 60px; */
}
nav { 
    /* padding-top: 50px; */
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: white;  
    z-index: 100;
    text-align: center;
    width: 100%;
    /* margin-top: 50px; */
    top: 0;
    position: sticky; 
}
nav ul{ 
    padding: 20px 30px;
    margin: 0 auto !important;
}

nav ul li{ 
    display: inline-block; 
    padding: 0 20px;
}
#logo {
    float:left;
    padding:10px;
} 

section {  
    /* border: solid grey; */
    text-align: left; 
    width: 100%;
    height: 800px;
}  
.container {  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:scroll;
  position: relative; 
  /* border: solid green; */
  height: 900px; 
}
  #banner{
    overflow-x: hidden;
    position: relative;   
    width: 100%; 
    background-image: url("/img/pixelated-banner.jpg");   
    background-color: black; 
    /* height: 500px;  */
    background-position: center;  
    background-repeat: no-repeat;  
    background-size:cover;  
} 

.container::-webkit-scrollbar {
    display: none;
  }  
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: relative; 
    color: #f1f1f1;
    width: 100%;
    height: 100%; 
  }
  .projects{  
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    height: 800px;
    height: 100%;
    padding-top: 100px; 
  }
  .projects h1{
    color: whitesmoke;
    margin-top: 100px;
  }

  .projects .project-list {
    margin: 15% 20%;
  }
  .blinds{
    background: rgba(0, 0, 0, 0.7);
    /* border: white solid; */
    min-height: 50px;
  }
  .blinds:hover{
    background: rgba(0, 0, 0, 0.1);
  }
  .button{
    /* background: rgba(245, 245, 245, 0.0); */
    min-width: 150px;
    /* min-width: 60%; */
    padding: 10px 20px;
    margin: auto 30px; 
    border:rgba(245, 245, 245, 0.37) solid;
  }
  .button:hover {
    background: rgba(245, 245, 245, 0.2); 
    border:rgba(245, 245, 245, 0.0) solid;
  }
  #subtitle {
    position: sticky;
    top: 0;
    padding: 30px 50px;
  }

  .cards{ 
    /* background: rgba(0, 0, 0, 0.2); */
    margin-top: -20;
    padding-top: 30px;
    max-width:900px;
  }
  ul li{

    display: inline-block; 
  }
  .card{ 
    /* text-align:center; */
    background: rgba(0, 0, 0, 0.2);
    margin-top:5px;
    padding:0 10px;
    min-height:40px;
    min-width: 70px;
    /* width: 70px; */
    padding: 30px 20px; 
  }
  .done .card{ 
    /* text-align:center; */
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.2);
    margin-top:5px;
    padding:0 10px;
    height:40px;
    /* min-height:40px; */
    min-width: 70px;
    /* width: 70px; */
    padding: 30px 20px; 
  } 
  .done #subtitle{
    float: left;
  }
 
footer {
    /* border: solid grey; */
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color:#292929;
    color: white;  
    padding: 30px 0;
}
 
#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #21242d url('/img/fox-loader2.gif') no-repeat center;
	z-index: 999;
}

@media only screen and (max-width: 566px) {
   .do{ 
    height: 900px;
  }
}